.badge {
    background-color: rgba($dark, .9);
    border-radius: 2px;
    font-size: 10px;
    font-weight: normal;
    padding: 5px 8px;
}

@each $color,
$value in $theme-colors {
    .badge-#{$color} {
        color: $value;
    }
}