.btn {
    text-transform: uppercase;
    border-radius: $btn-border-radius;
}

.btn-lg {

    $btn-border-radius-lg: 3px;
}

.btn-block {
	padding-left: 10px;
	padding-right: 10px;
}

@each $color,
$value in $theme-colors {
    .btn-outline-#{$color} {
        color: $white;
        background: rgba(9, 10, 16, 0.25);
    }
}