.card-group {
    justify-content: center;
}

.card {
    color: $body-color;
    text-decoration: none;
    position: relative;
    max-width: 268px;
    margin: 0 32px 80px;
    border-radius: $card-border-radius;
    transition: transform .3s ease-out;

    .card-image-bg {
        position: relative;
        background-color: rgba($dark, .5);
        height: 194px;
        border-bottom: rgba(169, 189, 230, 0.1) 1px solid;

        .card-image {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            height: 96px;
            width: 214px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    .card-body {
        padding: 20px 20px 8px;


        ul {
            li {
                margin-bottom: 9px;

                &:before {
                    content: "∙  ";
                    display: inline;
                    margin-right: 2px;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &:hover {

        color: $body-color;
        text-decoration: none;
        transform: translateY(-5%);
    }
}