.page-footer {
    color: #A9BDE6;
    padding-top: 65px;
    padding-bottom: 75px;
    background-color: $jumbotron-overlay-color;

    .footer-logo {
        display: inline-block;
    }

    .responsive-align {
        margin-top: 30px;
        margin-bottom: 30px;

    }

    p {
    	padding: 0 45px;
        margin-bottom: 0;
    }

    a,
    p {
    	opacity: .25;
    }

    a{
    	transition: opacity .3s ease-out;
    	&:hover {
    		opacity: .5;
    	}
    }
}