.jumbotron {
    position: relative;
    height: 656px;
    // height: calc(100vh - 72px - 36px);
    background-color: #07070C;

    .call-to-action {
        padding-top: 200px;

        h1 {
            font-weight: normal;
            margin-bottom: 45px;
        }
        .btn {
        	margin-bottom: 25px;
        }
    }

    .responsive-align {

        position: relative;
        margin-top: 110px;
    }

    .background {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .overlay {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: linear-gradient(180deg, rgba($jumbotron-overlay-color, 0.6) 0%, rgba($jumbotron-overlay-color, 0.9) 100%);
    }
}