.navbar {
    height: 72px;
    padding: 0;

    &.bg-dark {
        background: radial-gradient(72.00px at 50% 100%, rgba(18, 20, 31, 0.75) 0%, #12141F 100%);
    }

    .nav-item {
        position: relative;
        padding: 17px 0px;

        &:not(:first-child) {
            margin-left: 36px;
        }

        &.active {

            >a:not(.btn) {
                +.gradient {
                    background: radial-gradient(74px at 50% 125%, #3083ff 0, transparent 100%);
                    opacity: 0.25;
                }
            }

            &:after {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 3px;
                background-color: $primary;
                bottom: 0;
                left: 0;
            }
        }

        >* {
            position: relative;
            z-index: 2;
        }

        >a:not(.btn) {
            color: $light-blue;
            font-weight: bold;
            font-size: 12px;
            text-align: center;
            text-transform: uppercase;
            transition: color .3s ease-out;

            +.gradient {
                position: absolute;
                width: 270%;
                height: 100%;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                background: radial-gradient(50px at 50% 125%, $primary 0, transparent 100%);
                opacity: 0;
                transition: .3s ease-out;
                z-index: 1
            }

            &:hover,
            &:focus {
                color: $white;

                +.gradient {
                    background: radial-gradient(74px at 50% 125%, #3083ff 0, transparent 100%);
                    opacity: 0.25;
                }
            }


        }


    }



    .navbar-icon {
        display: flex;
        justify-content: flex-end;
        height: 16px;
        align-items: center;
        cursor: pointer;

        span {
            display: block;
            position: relative;
        }

        span,
        span:after,
        span:before {
            width: 30px;
            height: 2px;
            background-color: $light-blue;
            transition: .3s ease-out;
            border-radius: 2px;
        }

        span:after,
        span:before {
            content: "";
            position: absolute;
        }

        span:after {
            top: 7px;
        }

        span:before {
            bottom: 7px;
        }


        &[aria-expanded="true"] {
            span {
                background-color: transparent;

                &:before {
                    transform: rotate(45deg);
                    bottom: 0;
                }

                &:after {
                    transform: rotate(-45deg);
                    top: 0;
                }
            }
        }
        @media (min-width: map-get($grid-breakpoints, "lg")) {
        	display: none
        }
    }

}