html {
    body {
        font-family: 'Montserrat', sans-serif;
        overflow-x: hidden;

        p,
        ul {
            font-size: 12px;
            line-height: 20px;
        }

        >section {
            .section-title {
                h2 {

                    line-height: normal;
                    font-weight: bold;
                    padding: 64px 0 48px;
                    margin: 0;
                }
            }

            padding-bottom: 80px
        }
    }
}