@media (max-width: map-get($grid-breakpoints, "lg")) {

    html {
        body {
            >section {
                padding-bottom: 56px;

                .section-title {
                    h2 {

                        padding: 48px 20px 32px;
                    }
                }
            }
        }
    }

    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    h1,
    .h1 {
        font-size: $h1-md-font-size;
    }

    h2,
    .h2 {
        font-size: $h2-md-font-size;
    }

    .btn-lg {
        font-size: $btn-md-font-size-lg;
    }

    .navbar {
        height: 56px;
        padding: 0 20px;

        .navbar-brand {
            z-index: 3;
            img {
                height: 28px;
            }
        }
        .navbar-icon {
            z-index: 3;
        }

        .navbar-collapse {
            display: block;
            visibility: hidden;
            position: absolute;
            left: 0;
            top: 56px;
            width: 100%;
            padding: 20px 0;
            background-color: rgba($dark, .95);
            z-index: 2;
            transform: translateY(-100%);
            transition: transform .3s ease-out;

            .navbar-nav {

                .nav-item {
                    margin-left: 0;
                    text-align: center;

                    a {
                        display: inline;

                        &:not(.btn) {
                            +.gradient {
                                background: radial-gradient(#3083ff 0, transparent 100%);
                                left: 0;
                                right: 0;
                                transform: none;
                                width: 100%;
                            }
                        }
                    }

                    &:after {
                        display: none;
                    }

                    &.active {
                        a:not(.btn) {
                            &:after {
                                content: "";
                                display: block;
                                position: absolute;
                                height: 2px;
                                background-color: $primary;
                                bottom: 0;
                                left: -10px;
                                right: -10px
                            }
                        }
                    }
                }


            }

            &.show {
                visibility: visible;
                transform: translateY(0)
            }
        }
    }

    .jumbotron {
        height: auto;
        padding-bottom: 38px;


        .background {
            display: none;
        }

        .call-to-action {
            padding-top: 60px;
        }

        .responsive-align.small {
            margin-top: 38px;

            .responsive-align-item {
                margin-bottom: 9px;
                margin-left: 8px;
                margin-right: 8px;

                img {
                    transform: scale(0.85, 0.85);
                    // height: 25px;
                    // width: auto;
                }
            }
        }
    }

    .card-group {
        display: block;

        .card {
            max-width: 100%;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 25px;

            .card-image-bg {
                height: 162px;
            }

            .card-body {
                padding-top: 14px;
            }

            &:last-child {
                margin-bottom: 0;
            }

            &:hover {
                transform: none;
            }
        }
    }

    .tournament-card {
        display: block;
        height: auto;

        .game-name {
            width: 100%;
            height: 16px;

            span {
                width: 100%;
                display: block;
                transform: none;
            }
        }

        .tournament-image {
            display: none;
        }

        .main-info {
            text-align: center;
            padding-top: 24px;

            time {
                margin-right: 0;
            }

            br {
                display: inline;
            }

            .badge {
                margin-top: 14px;

                &:after {

                    bottom: -16px;
                }
            }
        }

        .additional-info {
            display: flex;

            div {
                flex-basis: 100%;
                flex-grow: 0;
                height: 40px;
                // float: none;
                // width: 50%;

                h3 {
                    margin-bottom: 0;
                }

                &:first-child {
                    border-left: none;
                }
            }
        }

        .more {
            display: none;
        }

        &:not(:last-child) {
            margin-bottom: 24px;
        }
    }

    .responsive-align {
        margin-top: 20px;

        .responsive-align-item {
            margin-bottom: 45px;
            margin-left: 20px;
            margin-right: 20px;

            &:last-child,
            &:nth-last-child(2) {
                margin-bottom: 0;
            }
        }

        &.small {
            .responsive-align-item {
                margin: 0px 15px;
            }
        }

        &.align-2 {
            .responsive-align-item {
                flex: 0 50%;
                text-align: center;
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
}