.responsive-align {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 15px;

    .responsive-align-item {
        display: block;
        margin: 0 40px;
    }


    &.small {
        .responsive-align-item {
            margin: 0 20px;
        }
    }
}