.tournament-card {
    overflow: hidden;
    height: 72px;
    display: flex;
    align-items: stretch;
    border-radius: $card-border-radius;
    background-color: $dark-light;
    margin-bottom: 16px;
    color: $light-blue;
    text-decoration: none;
    transition: transform .3s ease-in;
    transform: none;

    .game-name {
        color: #12141F;
        position: relative;
        width: 16px;
        background: #cfcfcf;
        // flex-basis: 16px;

        span {
            display: block;
            width: 72px;
            height: 16px;
            font-size: 10px;
            line-height: 18px;
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            transform: rotate(-90deg) translateX(-28px) translateY(-28px);
        }
    }

    .tournament-image {
        position: relative;
        width: 152px;
        flex-basis: 152px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient(-180deg, rgba(27, 30, 47, 0) 0, #1b1e2f 100%);
            opacity: 0.25;
        }
    }

    .main-info {
        padding: 16px;
        font-size: 12px;

        h3 {
            margin-bottom: 4px;
        }

        .day {
            &:after {
                content: "∙";
                margin: 0 3px 0 6px;
            }
        }

        time {
            margin-right: 10px;
        }

        >*:not(.badge) {
            position: relative;
            z-index: 2;
        }

        br {
            display: none;
        }

        .badge {
            position: relative;
            z-index: 1;

            &:after {
                z-index: -1;
                content: "";
                display: block;
                position: absolute;
                left: -60%;
                right: -60%;
                bottom: -9px;
                height: 72px;
                opacity: .25;
                transform: scaleX(1.5);
                transition: .3s ease-out;
            }

            @each $color,
            $value in $theme-colors {
                &.badge-#{$color} {
                    &:after {
                        background: radial-gradient(100px at 50% 150%, $value 40%, rgba($value, .25) 60%, transparent 100%);

                    }
                }
            }
        }

    }

    .additional-info {
        margin-left: auto;

        >div {
            position: relative;
            float: left;
            width: 134px;
            height: 100%;
            border-left: 1px solid rgba(169, 189, 230, 0.1);
            background: rgba($dark, .5);

            >* {
                text-align: center;
                position: absolute;
                width: 100%;
                top: 50%;
                transform: translateY(-50%)
            }
        }
    }

    .more {
        border-left: 1px solid rgba(169, 189, 230, 0.1);
        display: block;
        width: 32px;
        background-image: url('/img/chevron-right.svg');
        background-position: center;
        background-repeat: no-repeat;
        transition: .2s ease-out;

    }

    &.dota {
        .game-name {
            background: linear-gradient(180deg, #FF6363 0%, #E24659 100%);
        }
    }

    &.lol {
        .game-name {
            background: linear-gradient(180deg, #51E0FF 0%, #51BDFF 100%);
        }
    }

    &.artifact {
        .game-name {
            background: linear-gradient(180deg, #FFDF8E 0%, #DEB270 100%)
        }
    }

    &:last-child {
        margin-bottom: 0;
    }

    &:hover {
        text-decoration: none;
        color: $light-blue;

        .badge {
            &:after {
                opacity: .45;
            }

            // @each $color,
            //    $value in $theme-colors {
            //        &.badge-#{$color} {
            //            &:after {
            //            	opacity: .35;
            //                background: radial-gradient(120px at 50% 150%,$value 20%,rgba($value,.25) 70%,transparent 100%);

            //            }
            //        }
            //    }
        }

        .more {
            background-position: 70% center;
        }
    }

    &.remove {
        transform: translateX(100vw)
    }
    &.add {
    	transform: translateX(-100vw)
    }
}

.ghost-tournament-card {
    transition: .3s ease;
}