//Theme style

$primary: #3083FF;
// $secondary:     red;
$success: #88EF63;
// $info:          red;
$warning: #FBCF60;
$danger: #FF5569;
// $light:         red;
$dark: #1B1E2F;
$dark-light: #24283E;

$body-bg: $dark;
$body-color: #A9BDE6;

$enable-rounded: false;

// Grid

$container-max-widths: () !default;
$container-max-widths: map-merge(
  (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1200px
  ),
  $container-max-widths
);


// Heading

$headings-color: #fff;
$h1-font-size: 36px;
$h2-font-size: 24px;
$h3-font-size: 16px;
$headings-font-weight: bold;
$headings-line-height: 1.5;

$h1-md-font-size: $h2-font-size;
$h2-md-font-size: 20px;


// Buttons

$btn-font-weight: bold;
$btn-padding-y: 7px;
$btn-padding-x: 64px;
$btn-font-size: 12px;
$btn-border-radius: 3px;
$btn-border-width: 2px;
$btn-focus-width: 0;
$btn-focus-box-shadow: none;
$btn-active-box-shadow: none;

$btn-font-size-lg: 16px;
$btn-border-radius-lg: 3px;
$btn-padding-y-lg: 10px;
$btn-padding-x-lg: 40px;


$btn-md-font-size-lg: 14px;


// Cards

$card-border-width: 0;
$card-border-radius: 3px;
$card-border-color: transparent;
$card-border-radius: 3px;
$card-bg: $dark-light;


// Other

$light-blue: #98ADD6;
$jumbotron-overlay-color: #090a10;
